<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Scrum Roleplay</title>


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="/stylesheets/chatbox.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="/stylesheets/sidebar.css">
    <link rel="stylesheet" href="/stylesheets/productBacklog.css">
    <link rel="stylesheet" href="/stylesheets/releasePlan.css">
    <link rel="stylesheet" href="/stylesheets/planSummary.css">
    <link rel="stylesheet" href="/stylesheets/sprintReview.css">
    <link rel="stylesheet" href="/stylesheets/sprintRetrospective.css">
    <link rel="stylesheet" href="/stylesheets/emptyRetrospective.css">
    <link rel="stylesheet" href="/stylesheets/currentRetrospective.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js"></script>
</head>

  <body>
    <% include navbar %>
    <% include ../chatbox%>
  <div class="wrapper">
      <!-- Sidebar  -->
        <nav id="sidebar">
          <div class="sticky">
          <% var homePath = "/" + currentUser.currentTeam + "/home"; %>
          <a href="<%= homePath %>" class="btn btn-outline-light text-dark" id="homeButton">
            <i class="fas fa-home"></i>
          </a>
          <button type="button" id="sidebarCollapse" class="btn btn-info float-right" style="background: #2B7A78; outline: none; border: none;">
            <i class="fas fa-bars"></i>
          </button>
            <div class="sidebar-header">
                <h3 class="text-center"><%= team.username %></h3>
                <h6 class="text-center"><%= currentUser.role %></h6>
            </div>

          <!-- TIMER -->
          <div id="clockdiv" teamid="<%= team._id %>" timerFlag="<%= team.timerFlag %>" endTime="<%= team.endTime %>">
            <div>
              <span class="hours"></span>
              <div class="smalltext">Hours</div>
            </div>
            <div>
              <span class="minutes"></span>
              <div class="smalltext">Minutes</div>
            </div>
            <div>
              <span class="seconds"></span>
              <div class="smalltext">Seconds</div>
            </div>
          </div>

            <ul class="list-unstyled components">
              <li>
                <a href="/<%= currentUser.currentTeam %>/productBacklog">
                    <i class="fas fa-cubes"></i>
                    Product Backlog
                </a>
              </li>
              <li>
                  <a href="/<%= currentUser.currentTeam %>/estimateSprintPoints">
                      <i class="fas fa-chart-line"></i>
                      Estimate Sprint Points
                  </a>
                </li>
              <li>
                <a href="/<%= currentUser.currentTeam %>/releasePlan">
                    <i class="fas fa-chart-line"></i>
                    Release Planning
                </a>
              </li>

              <% for(let i = 0; i < 3; i++){ %>
                  <li>
                      <a href="<%= "#homeSubmenu" + i%>" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                          <i class="fas fa-bolt"></i>
                          <%="Sprint " + (i+1)%>
                      </a>
                      <% var date = new Date(); %>
                      <% var curTime = Date.parse(date); %>
                      <% var classList =  "list-unstyled" %>
                      <% if(team.endTime - curTime < totalTime - sprintEnd[i] || team.endTime - curTime > totalTime - sprintStart[i]){ %>
                          <% classList += " collapse"; %>
                      <% } %>
                      <ul class="<%= classList %>" id="<%= "homeSubmenu" + i%>">
                          <li>
                              <% if(team.endTime - curTime > totalTime - sprintStart[i]){ %>
                                <a href="javascript:window.location.href=window.location.href">Select Stories(PO)</a>
                              <%} else {%>
                                <a href="/<%= currentUser.currentTeam %>/<%=i+1%>/selectStories">Select Stories(PO)</a>
                              <%}%>
                          </li>
                          <li>
                              <% if(team.endTime - curTime > totalTime - sprintStart[i]){ %>
                                <a href="javascript:window.location.href=window.location.href">Plan Summary</a>
                              <%} else {%>
                                <a href="/<%= currentUser.currentTeam %>/<%= i+1 %>/planSummaryDisplay">Plan Summary</a>
                              <% } %>
                          </li>
                          <li>
                              <% if(team.endTime - curTime > totalTime - sprintStart[i]){ %>
                                <a href="javascript:window.location.href=window.location.href">Select User Stories(Dev)</a>
                              <%} else {%>
                                <a href="/<%= currentUser.currentTeam %>/<%=i+1%>/devStorySelection">Select User Stories(Dev)</a>
                              <% } %>
                          </li>
                          <li>
                              <% if(team.endTime - curTime > totalTime - sprintStart[i]){ %>
                                <a href="javascript:window.location.href=window.location.href">Add Tasks to Story</a>
                              <%} else {%>
                                <a href="/<%= currentUser.currentTeam %>/<%=i+1%>/devTasks">Add Tasks to Story</a>
                              <% } %>
                          </li>
                          <li>
                              <% if(team.endTime - curTime > totalTime - sprintStart[i]){ %>
                                <a href="javascript:window.location.href=window.location.href">View User Stories</a>
                              <%} else {%>
                                <a href="/<%= currentUser.currentTeam %>/<%=i+1%>/finishedUserStories">View User Stories</a>
                              <% } %>
                          </li>
                          <li>
                              <% if(team.endTime - curTime > totalTime - sprintStart[i]){ %>
                                <a href="javascript:window.location.href=window.location.href">Sprint Retrospective</a>
                              <%} else {%>
                              <a href="/<%= currentUser.currentTeam %>/<%= i+1 %>/sprintRetrospectiveDisplay">Sprint Retrospective</a>
                              <% } %>
                          </li>
                          <li>
                              <% if(team.endTime - curTime > totalTime - sprintStart[i]){ %>
                                <a href="javascript:window.location.href=window.location.href">Sprint Review</a>
                              <%} else {%>
                                <a href="/<%= currentUser.currentTeam %>/<%= i+1 %>/sprintReviewDisplay">Sprint Review</a>
                              <% } %>
                          </li>
                      </ul>
                  </li>
                <% } %>

                <li>
                    <a href="/<%= currentUser.currentTeam %>/productReview">
                        <i class="fas fa-tasks"></i>
                        Project Review
                    </a>
                </li>
            </ul>
          </div>
        </nav>


      <!-- Page Content  -->
      <div id="content">
        <!-- <% include navbar %> -->
        <!-- <%include ../chatbox%> -->
