<% include partials/sidebarHeader %>
<h1 class="text-center" >User Story Tasks</h1>

<%for (var i = 0; i < team.productBacklog.length; i++){ %>
  <%  if(team.productBacklog[i].takenBy == currentUser.email && team.productBacklog[i].sprintID == sprint_id ){ %>
      <%  var x=0;
        var sumTasks=0; %>
      <%  for(var j = 0; j < team.productBacklog[i].tasks.length; j++){ %>
       <%     sumTasks+=team.productBacklog[i].tasks[j].points;
        }
        %>
        <hr>
        <div><h5><span>User Story: <%=i+1%> <br> Action: <%=team.productBacklog[i].action%> <br>Estimate in points(Sum of tasks) : <%=sumTasks%></span></h5></div>
        <table >
            <tr>
                <th></th>
                <th>Description</th>
                <th>Points</th>
                <th></th>
            </tr>
            <%for(var j = 0; j < team.productBacklog[i].tasks.length; j++){
                    var classAlt = "odd" %>
                   <% if(x == 0) {
                        classAlt = "even";
                    }
                    x^=1; %>
                    <tr class="<%= classAlt %>">
                        <td> Task <%=j+1%></td>
                        <td> <%= team.productBacklog[i].tasks[j].description  %></td>
                        <td> <%= team.productBacklog[i].tasks[j].points %></td>
                        <td class="tasks-delete" sprintid="<%=sprint_id%>" usid="<%= i %>" index="<%= j %>" teamid="<%= team.id %>"> <i class="delete fas fa-trash-alt fa-2x"></i></td>
                    </tr>
            <%}%>
        <table>

        <%if(team.productBacklog[i].status == 0){%>
          <% var date = new Date(); %>
          <% var curTime = Date.parse(date); %>
          <% if(team.endTime - curTime > totalTime - sprintEnd[sprint_id-1]){ %>
            <a class="btn release-style"  href="/<%= team._id %>/<%= sprint_id %>/devTasks/<%= i %>/new"> Add Task <i class="fas fa-plus"></i></a>
          <% } %>
        <form action="/<%= team._id %>/<%= sprint_id %>/devTasks/<%= i %>/finish" method="POST">
            <button class="btn release-style float-right">Finish</button>
        </form>
        <hr>
    <%}}
}%>



<% include partials/sidebarFooter %>
<% include partials/footer %>
