<% include partials/sidebarHeader %>
<h1 class="text-center" >Release Plan</h1>
<form action="/<%=team.id%>/releasePlan" method="POST">

    <% var x=0 %>
    <% for(var k=0; k < team.releasePlanName.length; k++) {%>
        <%var f=0;
            for(var i = 0; i < team.productBacklog.length; i++){
                if(team.releasePlanName[k].name == team.productBacklog[i].releasePlan){
                    f=1;
                }
            }%>
        <% if(k>0&&f==1) { %>
            <div style="margin-top: 3%;"><h5 class="fancy"><span><%=team.releasePlanName[k].name%></span></h5></div>
            <!-- <div class="subtitle fancy text-center"><h5><%=team.releasePlanName[k].name%> Release</h5></div> -->
            <hr>
            <% } %>
        <% if(f==1){%>
            <table >
                <tr>
                    <th>US Ref</th>
                    <th>As a </th>
                    <th>I want to</th>
                    <th>So That</th>
                    <th>Value</th>
                    <th>Release</th>
                </tr>
        <% } %>
        <% for(var i = 0; i < team.productBacklog.length; i++){ %>
            <% if(team.releasePlanName[k].name == team.productBacklog[i].releasePlan){%>
                <% var classAlt = "odd" %>
                <% if(x == 0) {
                    classAlt = "even";
                }
                x^=1; %>
                        <tr class="<%= classAlt %>">
                        <td> US <%=i+1%> </td>
                        <td> <%= team.productBacklog[i].role    %></td>
                        <td> <%= team.productBacklog[i].action  %></td>
                        <td> <%= team.productBacklog[i].benefit %></td>
                        <td> <%= team.productBacklog[i].value   %></td>
                        <td>
                            <select name="releasePlanValue[<%=i%>]" class="form-control">
                                    <% for(let j=0; j < team.releasePlanName.length; j++){ %>
                                        <% if(team.releasePlanName[j].name == team.productBacklog[i].releasePlan) {%>
                                            <option value="<%=team.releasePlanName[j].name%>" selected><%=team.releasePlanName[j].name%></option>
                                        <% }else {%>
                                            <option value="<%=team.releasePlanName[j].name%>" ><%=team.releasePlanName[j].name%></option>
                                    <%}
                                    } %>
                            </select>
                        </td>
                        </tr>

            <%}
        } %>
        <% if((k>0&&f==1)||(k==0&&f==1)) { %>
            </table>
        <% } %>

    <% } %>
    <% var date = new Date(); %>
    <% var curTime = Date.parse(date); %>
    <% if(team.endTime - curTime > 3.5 * 60 * 1000){ %>
      <a class="btn release-style"  href="/<%= team._id %>/releasePlan/new">Add Release <i class="fas fa-plus"></i></a>
      <button class="btn release-style float-right">Save Changes</button>
    <% } %>
</form>



<% include partials/sidebarFooter %>
<% include partials/footer %>
